{:port #or [#env PORT 3000]
 :secrets #include "secrets.edn"
 :db-spec #profile {:test #ref [:secrets :test-db]
                    :dev #ref [:secrets :dev-db]
                    :prod #ref [:secrets :prod-db]
                    :ci #ref [:secrets :ci-db]}
 :log {}
 :default-page-size 10
 :session-timeout-ms 86400000} ;; 1 day in milliseconds
