{:port #or [#env PORT 3000]
 :secrets #include "secrets.edn"
 :db-spec #profile {:test #ref [:secrets :test-db]
                    :dev #ref [:secrets :dev-db]
                    :prod #ref [:secrets :prod-db]
                    :ci #ref [:secrets :ci-db]}
 :log {}
 :default-page-size 10
 :session-timeout-ms 86400000
 :recaptcha-secret #or [#env "RECAPTCHA" #env secret]
 :recaptcha-url "https://www.google.com/recaptcha/api/siteverify"
 :recaptcha-site-key "6Lc1XSkeAAAAAJUFg_Zv7qQ7w4bZ2v2sH7Y_cNW3"}
