{:dev-db {:dbtype "postgresql"
          :dbname "fleet_management"
          :host   "localhost"
          :port   5432}
 :prod-db {:dbtype "postgresql"
           :dbname #env "POSTGRES_DB"
           :host #env "POSTGRES_HOST"
           :user #env "POSTGRES_USER"
           :password #env "POSTGRES_PASSWORD"
           :port #env "POSTGRES_PORT"}
 :test-db {:dbtype "postgresql"
           :dbname #or [#env "POSTGRES_DB" "fleet_management_test"]
           :host   "localhost"
           :port   5432
           :password #or [#env "POSTGRES_PASSWORD" ""]
           :user #or [#env "POSTGRES_USER" #env "USER"]}}