{:dev-db {:dbtype "postgresql"
          :dbname "fleet_management"
          :host   "localhost"
          :port   5432}
 :test-db {:dbtype "postgresql"
           :dbname "fleet_management_test"
           :host   "localhost"
           :port   5432}}